# Don't track content of these folders
roi_concatenated_four_slices
roi_concatenated_four_slices/
incorrect_roi_images
incorrect_roi_images/
non_defective_xml_files
non_defective_xml_files/
original_dataset
original_dataset/
.idea/
__pycache__/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# File types #
##############
*.jpg
*.pickle
*.pkl
*.xml
*.csv
*.npy
*.numpy

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
